<!DOCTYPE html>
<html>
<head>
<title>Show superhero team</title>
</head>

<h1>Team</h1>
  <div class="team">
    <h3><%= @team.name %></h3><br>
    <h4><%= @team.motto %></h4>
  </div><br>
 



<body>