require 'pry'
<!DOCTYPE html>
<html>
<head>
<title>Show superhero team</title>
</head>

<h1>Team</h1>
  <div class="team">
    binding.pry
    <h3><%= @team.name %></h3><br>
    <h4><%= @team.motto %></h4>
  </div><br>
  
  <% @superhero.each do |h, index| %>
  <% if index == 0 %>
  <h2>Hero Name: <%= @superhero.name %></h2>
 <% end %>
 <% end %>



<body>